* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #E8E5E0;
}

input{
    color: black;
    background: #E8E5E0;
    font-size: large;
    box-sizing: border-box;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 25px;
    color: #E8E5E0;
    text-wrap: nowrap;
}

a {
    text-decoration: none;
    font-size: 16px;
    text-wrap: nowrap;
    color: #E8E5E0;
}

::-webkit-input-placeholder {
    color: #161618;
 }
 
 :-moz-placeholder {
    color: #161618;
 }
 
 ::-moz-placeholder {
    color: #161618;  
 }
 
 :-ms-input-placeholder {  
    color: #161618;  
 }

body {
    background: #161618;
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}

header {
    background: #161618;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex: 1 1 100vw;
    align-items: end;
    align-content: center;
    height: 160px;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    width: 680px;
    flex: 1 1 0;
    justify-content: center;
    align-items: end;
}

main {
    background: #163031;
    display: flex;  
    flex: 20 1 100vw;
    padding-top: 8px;
    flex-wrap: wrap;
}

#sectionImgSeloQualidade{
    display: flex;
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #454549;
}

footer {
    background: #161618;
    margin-top: 1.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 10px;
    display: flex;
    flex: 1 1 100vw;
    z-index: 10;
}
