.cardSection {
    background: #0F2124;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
    display: flex;
}

.gameimg {
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.titlegamecard {
    padding: 0.5rem;
    padding-bottom: 0;
}

.iconsection {
    padding: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.8rem;
    display: flex;
    align-items: center;
}

.buttongamecard {
    background: #27565E;
    height: auto;
    width: 210px;
    font-size: 16px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
    color: #E8E5E0;
}

.buyGameCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trashButton {
    background: transparent;
    border: none;
}