
#aFooterSobre {
    color: #6f8393;
    text-decoration: none;
}

#divFooterLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divFooterFolowUS {
    display: flex;

}

#imgRedesSociais {
    margin-top: 5px;
    margin-bottom: 18%;
}

#pFooterSince {
    margin-top: 60px;
}

#divFooterAddress {
    display: flex;
    font-size: 13px;
    justify-content: end;

}

.pAddress {
    color: #6f8393;
    text-wrap: nowrap;
    text-align: end;
}

.colorWhite{
    color: #E8E5E0;
}