.sectionProfileGeneral {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sectionProfile {
    border: 2px solid #19F7A9;
    background: #0f2124;
    margin: 4rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.buttonOption {
    border: none;
    background: transparent;
    color: #19F7A9;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
}
